@import "reset.css";
@import "status-bar.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
@import "header.css";
@import "nav-bar.css";

*{
    /*padding을 추가해도 box사이즈가 늘어나지 않고 그대로 유지하게 하는것*/
    box-sizing: border-box;
}

/*가장 먼저 body의 디폴트값을 지정해준다.*/
body{
    background-color: white;
    padding: 10px 20px;
    color: #020202;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a{
    color: inherit;
}